@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --bg-body: #ECF0F3;
    --background-color: linear-gradient(145deg,#e2e8ec,#fff);
    --shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    --input-bg: #fff;
    --font-color: #5F5F5F;
    
}

[data-theme="dark"]{
    --bg-body: #212428;
    --background-color: linear-gradient(145deg,#1e2024,#23272b);
    --shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
    --input-bg: #191B1E;
    --font-color: #C4CFDE;
}

*{
    margin: 0;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

 
header{
    position: fixed;
    background-color: var(--bg-body);
    width: 100%;
    z-index: 2;
}

.top{    
    padding: 5px 10px 5px 20px;
    box-shadow: var(--shadow);
}

.top h2{
    color: var(--font-color);
    line-height: 70px;
}

.nav-joshua li{
    font-weight: 600;
    font-size: .9rem;
    margin: 10px 5px;
}

.nav-joshua li a{
    margin: 5px 5px;
}

.nav-joshua .nav-btns:hover{
    border-radius: 7px;
    background: var(--bg-color);
    box-shadow:  var(--shadow);
}

.navbar-light .navbar-nav .nav-item a{
    color: var(--font-color);
}

.navbar-light .navbar-nav .nav-item:hover .nav-link{
    color: var(--font-color);
}

.ham-icon{
    font-size: 30px;
    color: var(--font-color);
}

.navbar-toggler{
    border: 1px solid var(--font-color);
}

/* slider css */

.toggle-theme{
    background: var(--bg-body);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .night{
    font-size: 20px;
    color: var(--font-color);
}

  #theme-text{
    color: #5F5F5F;
  }

  .theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 44px;
    margin-bottom: 0;
  }
  
  .theme-switch input {
    display:none;
  }

.slider {
    border: 2px solid var(--font-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #FF014F;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }
  
  /* input:checked + .slider {
    background-color: var(--font-color);
  }
   */
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* slider */

.home{
    padding: 150px 0 100px 0;
    background-color: var(--bg-body);
}

.home-content{
    margin-top: 50px;
}

.home-content h2 span{
    text-decoration: none;
    color: #01a2ff;
}

.home-content p{
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #7f8181;
}

.home-content h1{
    font-weight: 600;
    font-size: 3.5rem;
}

.name{
    color: #FF014F;
}

.myself{
    margin-bottom: 142px;
}

.home-icon i{
    font-size: large;
    color: var(--font-color);
    margin-right: 10px;
    padding: 22px;
    border-radius: 5px;
    background: var(--background-color);
    box-shadow:  var(--shadow);
}

.home-icon .fab{
    margin: 10px;
}

.icon1 i:hover{
    background: linear-gradient(145deg,#FF014F,#da0c0c);
    color: var(--bg-body);
    cursor: pointer;
}

.home-icon .fab:hover{    
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.2s;
}

.icons .fa-html5{
    color: #FF5C29;
    font-size: 20px;
}
.icons .fa-css3-alt{
    color :#008ED1;
    font-size: 20px;
}

.icons .fa-js{
    color: #F7DF1E;
    font-size: 20px;
}

.cards-1{
    background-color: var(--bg-body);
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards-1 .container h1{
    font-weight: 600;
    font-size: 3.5rem;
    color: var(--font-color);
    text-align: left;
}

.cards-1 .container h6{
    padding-top: 50px;
    color: #FF014F;
    text-align: left;
}

.cards-1 h5{
    font-weight: bold;
}

.cards{
    margin-top: 50px;
    padding: 40px;
    border-radius: 15px;
    background: var(--bg-body);
    box-shadow:  var(--shadow);
    color: var(--font-color);    
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.cards:hover{
    color: #e4e4e4;
    background-color: #ec0047c4;
}

.card-elements{
    padding: 10px;
}

.cards i{
    font-size: 35px;
}

#contact_form{
    background-color: var(--bg-body);
    padding-top: 100px;
    padding-bottom: 50px;
}

.container h6{
    padding: 10px;
    text-align: center;
    color: #FF014F;
}

.container h1{
    padding: 10px;
    text-align: center;
    color: var(--font-color);
    font-weight: 600;
    font-size: 3.5rem;
}

#contact-div{
    background: var(--background-color);
    box-shadow:  var(--shadow);
    border: none;
    border-radius: 15px;
    margin: 10px 0;
}

#contact-form .btn{
    color: #FF014F;
    background: var(--bg-body);
    box-shadow:  var(--shadow);
}

#contact-form .btn:hover{
    color: #e2e8ec;
    background-color: #FF014F;
}

.address{
    background: var(--background-color);
    box-shadow:  var(--shadow);
    border-radius: 15px;
    padding: 25px;
    margin: 10px 0;
}

.address h4{
    color: #FF014F;
    margin-bottom: 25px;
}

.rech-me{
    margin-bottom: 20px;
    padding-left: 15px;
    color: var(--font-color);
}

#projects{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--bg-body);
    color: var(--font-color);
}

.cards-pro{
    padding: 20px 0 10px 0;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    background: var(--background-color);
    box-shadow:  var(--shadow);
}

.cards-pro img:hover{
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.2s;
}

.cards-pro img{
    padding: 10px;
}

#projects a{
    text-decoration: none;
    color: var(--font-color);
}

.prj-name{
    color: #FF014F;
    font-size: 12px;
    padding-top: 10px;
}

.cards-pro h5:hover{
    color: #FF014F;
}

.cards-pro #goto{
    display: none;
}

.cards-pro h5:hover #goto{
    display: inline-block;
}


footer{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    background-color: var(--bg-body);
}

#resume{
    padding: 100px 0 50px 0;
    background-color: var(--bg-body);
    color: var(--font-color);
}

.resume-nav{
    background: var(--background-color);
    box-shadow:  var(--shadow);
    width: 100%; 
    border-radius: 10px;
}

.resume-li{
    padding: 25px 0;
    text-align: center;
    border-radius: 10px;
}

.active,.resume-li:hover{    
    background: var(--background-color);
    box-shadow:  var(--shadow); 
    color: #FF014F;
}

.resume-details{
    margin-top: 50px;
}

.resume-card{
    margin-top: 25px;
    padding: 50px;
    background: var(--background-color);
    box-shadow:  var(--shadow);
    border-radius: 10px;
}

.resume-card p:nth-child(1){
    color: #FF014F;
    padding-bottom: 10px;
}

.progress{    
    margin: 10px 0;
}

#skills{
    display: none;
}

#certification{
    display: none;
}

#more{
    display: none;
}

#html-progress, #css-progress, #js-progress{
    background-color: #ec0147d8;
}

#contact-form input, #form_message{
    background-color: var(--background-color);
    box-shadow: var(--shadow);
    color: var(--font-color);
    border: none;
    outline: none;
}

footer{
    color: var(--font-color);
}


.up-arrow{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    border-radius: 30px;
    z-index: 1;
}

.up-arrow .btn{
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
    outline: none;
    background: var(--background-color);
    box-shadow:  var(--shadow);
}

.up-arrow .btn:hover{
    background: #FF014F;
}

.up-arrow i{
    font-size: 20px;
    color: #FF014F;
}

.up-arrow .btn:hover i{
    color: #dde3e7;
}

.side-bar{
    position: fixed;
    top: 40vh;
    left: 0;
    background-color: var(--backgroung-color);
    border-radius: 10px;
    box-shadow:  var(--shadow);
}

.side-bar-icon{
    padding: 10px;
    cursor: pointer;
    background-color: var(--backgroung-color);
}

.side-bar .social-bar{
    display: none;
}

.side-bar .side-bar-icon:hover a{
    color: #FF014F;
}

.side-bar-icon a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 20px;
}

.toggle-side{
    color: var(--font-color);
    padding: 10px;
    cursor: pointer;
}