@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

 
header{
    position: fixed;
    background-color: #ECF0F3;
    width: 100%;
    z-index: 1;
}

.top{    
    padding: 5px 20px;
    box-shadow: 0 2px 25px #d1d9e6;
}

.top h2{
    color: #5f5f5f;
    line-height: 70px;
}

.nav-joshua li{
    font-weight: 600;
    font-size: .9rem;
    color: #5f5f5f;
    margin: 10px 15px;
}

.nav-joshua li a{
    margin: 5px 10px;
}

.nav-joshua li:hover{
    border-radius: 7px;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

.home{
    padding: 150px 0 100px 0;
    background-color: #ECF0F3;
}

.home-content{
    margin-top: 50px;
}

.home-content h2 span{
    text-decoration: none;
    color: #01a2ff;
}

.home-content p{
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #7f8181;
}

.home-content h1{
    font-weight: 600;
    font-size: 3.5rem;
}

.name{
    color: #FF014F;
}

.myself{
    margin-bottom: 142px;
}

.home-icon i{
    font-size: large;
    color: #5f5f5f;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

.home-icon .fab{
    margin: 10px;
}

.icon1 i:hover{
    background: linear-gradient(145deg,#FF014F,#da0c0c);
    color: #ECF0F3;
    cursor: pointer;
}

.home-icon .fab:hover{    
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.2s;
}

.icons .fa-html5{
    color: #FF5C29;
    font-size: 20px;
}
.icons .fa-css3-alt{
    color :#008ED1;
    font-size: 20px;
}

.icons .fa-js{
    color: #F7DF1E;
    font-size: 20px;
}

.cards-1{
    background-color: #ECF0F3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards-1 .container h1{
    font-weight: 600;
    font-size: 3.5rem;
    color: #5f5f5f;
    text-align: left;
}

.cards-1 .container h6{
    padding-top: 50px;
    color: #FF014F;
    text-align: left;
}

.cards-1 h5{
    font-weight: bold;
}

.cards{
    margin-top: 50px;
    padding: 40px;
    border-radius: 15px;
    background: #ECF0F3;
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px rgb(255, 255, 255);
    color: #5f5f5f;    
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.cards:hover{
    color: #e4e4e4;
    background-color: #ec0047c4;
}

.card-elements{
    padding: 10px;
}

.cards i{
    font-size: 35px;
}

#contact_form{
    background-color: #ECF0F3;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container h6{
    padding: 10px;
    text-align: center;
    color: #FF014F;
}

.container h1{
    padding: 10px;
    text-align: center;
    color: #5f5f5f;
    font-weight: 600;
    font-size: 3.5rem;
}

#contact-div{
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border: none;
    border-radius: 15px;
    margin: 10px 0;
}

#contact-form .btn{
    color: #FF014F;
    background: #ECF0F3;
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

#contact-form .btn:hover{
    color: #e2e8ec;
    background-color: #FF014F;
}

.address{
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 15px;
    padding: 25px;
    margin: 10px 0;
}

.address h4{
    color: #FF014F;
    margin-bottom: 25px;
}

.rech-me{
    margin-bottom: 20px;
    padding-left: 15px;
    color: #5f5f5f;
}

#projects{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #ECF0F3;
    color: #5f5f5f;
}

.cards-pro{
    padding: 20px 0 10px 0;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

.cards-pro img:hover{
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.2s;
}

.cards-pro img{
    padding: 10px;
}

#projects a{
    text-decoration: none;
    color: #5f5f5f;
}

.prj-name{
    color: #FF014F;
    font-size: 12px;
    padding-top: 10px;
}

.cards-pro h5:hover{
    color: #FF014F;
}

.cards-pro #goto{
    display: none;
}

.cards-pro h5:hover #goto{
    display: inline-block;
}


footer{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    background-color: #ECF0F3;
}

#resume{
    padding: 100px 0 50px 0;
    background-color: #ECF0F3;
}

.resume-nav{
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    width: 100%; 
    border-radius: 10px;
}

.resume-li{
    padding: 25px 0;
    text-align: center;
    border-radius: 10px;
}

.active,.resume-li:hover{    
    background: linear-gradient(145deg,#dde3e7,#fff);
    box-shadow:  0px 7px 15px #d1d9e6,-2px -2px 2px #fff; 
    color: #FF014F;
}

.resume-details{
    margin-top: 50px;
}

.resume-card{
    margin-top: 25px;
    padding: 50px;
    background: linear-gradient(145deg,#dde3e7,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 10px;
}

.resume-card p:nth-child(1){
    color: #FF014F;
    padding-bottom: 10px;
}

.progress{    
    margin: 10px 0;
}

#skills{
    display: none;
}

#certification{
    display: none;
}

#more{
    display: none;
}

#html-progress, #css-progress, #js-progress{
    background-color: #ec0147d8;
}



.up-arrow{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    border-radius: 30px;
    z-index: 2;
}

.up-arrow .btn{
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
    outline: none;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow:  5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

.up-arrow .btn:hover{
    background: #FF014F;
}

.up-arrow i{
    font-size: 20px;
    color: #FF014F;
}

.up-arrow .btn:hover i{
    color: #dde3e7;
}