:root {
  --bg-body: #ecf0f3;
  --background-color: linear-gradient(145deg, #e2e8ec, #fff);
  --shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  --input-bg: #fff;
  --font-color: #3c3e41;
  --shadow-small: 2px 2px 10px #d1d9e6, -2px -2px 10px #fff;
  --popup-outer-bg: rgba(0, 0, 0, 0.541);
  --cards-hover-bg: linear-gradient(145deg, #dce5eb, #f0f0f0);
  --clr-primary: #ff014f;
  --clr-footer: #dbe3e9;
}

[data-theme='dark'] {
  --bg-body: #212428;
  --background-color: linear-gradient(145deg, #1e2024, #23272b);
  --shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --input-bg: #191b1e;
  --font-color: #c4cfde;
  --shadow-small: 2px 2px 10px #1c1e22, -2px -2px 10px #262a2e;
  --popup-outer-bg: rgba(255, 255, 255, 0.411);
  --cards-hover-bg: linear-gradient(to right bottom, #212428, #16181c);
  --clr-primary: #ff014f;
  --clr-footer: #191c20;
}
